/*index_mx780.css*/
div.mnWrap{height: 400px;}
div.content{padding: 40px 0;}
div.content header h3{font-size: 24px;}
div.mnWrap header nav h2{font-size: 14px;}
div.ct04 section article .text p{margin-top: 20px;}
.map,div.ct01 .sect1{display: none;}
div.ct03{height: 900px;}